## What should git be ignoring
.gitignore

# Pesky ~ files
*~
# Ignore auto-made files
*.aux
*.bbl
*.blg
*.lof
*.log
*.lot
*.out
*.toc
*.bak

## Folders I don't want
Examples/
Output/
figs/Aux/

## More specific
*.key
References/Object.bib_preATLAS